
.query-container
  background: white
  transition: .5s all ease

  &:hover
    background: $light

.query
  display: flex

  .query-input
    padding: 1rem 1.5rem
    font-size: $size-4
    line-height: $size-4
    min-height: 3.5rem
    flex: 1
    outline: none
    background: white
    text-align: left
    transition: .5s all ease
    border: 1px solid $grey-lighter
    border-right: 0
    color: $grey
    font-family: $family-monospace

    &:focus
      border-color: $grey-light

    &:focus + .query-button
      background: $primary
      border-color: $primary
      color: $light

    &:focus, &:focus + .query-button
      margin: 10rem 0

  .query-button
    background: white
    border: none
    color: white
    font-size: $size-4
    line-height: $size-4
    outline: none
    padding: 15px 35px
    transition: .5s all ease
    cursor: pointer
    display: inline-block
    border: 1px solid $grey-lighter
    border-left: 0
    font-family: $family-monospace


  > .query-button, > .query-input
    &:first-child
      border-top-left-radius: $radius-small
      border-bottom-left-radius: $radius-small

    &:last-child
      border-top-right-radius: $radius-small
      border-bottom-right-radius: $radius-small


